.vertical-tabs {
  position: relative;
  background: #fff;
  overflow: hidden;

  .nav-tabs {
    width: 35%;
    height: 350px;
    float: left;
    vertical-align: top;

    > li {
      width: 100%;
      float: none;
      border-bottom: 1px solid #97d4e6;
      margin: 0;

      > a {
        padding: 14px;
        background-color: #208fb0;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
      }

      &.active {
        a {
          background: #fff;
          color: #333;
        }
      }
    }
  }

  .tab-content {
    float: left;
    max-height: 350px;
    width: 65%;
    padding: 10px 35px;
    background: #fff;
    overflow-y: auto;
  }

  .column-row {
    li {
      padding: 10px;

      &:not(:first-child) {
        border-top: 1px solid #ccc;
      }
      
      a {
        font-size: 12px;
        line-height: 18px;
        color: #4db2ec;

        span {
          display: inline;
        }
      }
    }
  }
}

.group-element {
  .modal-wrapper {
    &.box-from-roundtrip {
      width: 550px;
    }
  }
}

@media only screen and (max-width: 767px){
  .vertical-tabs {
    .tab-content {
      padding: 0 0 0 20px;
    }

    .tab-wrapper & {
      .nav-tabs {
        
        > li {
          max-width: 100%;
          font-size: 10px;
        }
      }
    }
  }

  .group-element {
    .modal-wrapper {
      &.box-from-roundtrip {
        width: 100%;
      }
    }
  }
  
}
