.passenger-selector {
  li {
    overflow: hidden;
    width: 100%;
    padding: 2.5% 6%;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .psg-type {
    float: left;

    p {
      font-size: 13px;
      color: #333;
      margin: 0;
    }

    span {
      display: block;
      font-size: 11px;
      color: #1b6987;
    }
  }

  .psg-selector {
    float: right;
    margin-top: 4px;

    .current-psg {
      display: inline-block;
      vertical-align: middle;
      padding: 0 7px;
      text-align: center;
      line-height: 30px;
    }

    .psg-btn {
      text-indent: -99999px;
      width: 30px;
      height: 30px;
      background-color: #fbf6e8;
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
      border: 1px solid #dcaa1f;;
      border-radius: 50%;
      appearance: none;

      &:disabled,
      &[disabled] {
        border-color: #ccc;
        background-color: rgba(255,255,255,.5);
      }

      &.psg-decrease {
        background-image: url(../images/btn-decrease.png);
        float: left;

        &:disabled,
        &[disabled] {
          background-image: url(../images/btn-decrease_disabled.png);
        }
      }

      &.psg-increase {
        background-image: url(../images/btn-increase.png);
        float: right;

        &:disabled,
        &[disabled] {
          background-image: url(../images/btn-increase_disabled.png);
        }
      }
    }
  }
}

.box-roundtrip-passenger {
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1);
}

@media only screen and (max-width: 1024px) {
  .passenger-selector {
    .psg-selector {
      .psg-btn {
        width: 22px;
        height: 22px;
      }
      .current-psg {
        line-height: 22px;
        vertical-align: baseline;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){ 
  .passenger-selector {
    .psg-type,
    .psg-selector {
      float: none;
    }
  }
}