//reset bootstrap
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  margin: 0;
  border: 0;
  background-color: #e6e1da;
}

.nav-tabs > li > a {
  color: #000;
  background-color: white;
  margin: 0;
  border: 0;
}

.nav-tabs > li > a:hover {
  background-color: #e6e1da;
  color: #000;
}

.nav-pills > li {
  margin-right: 20px;
}

.nav-pills > li > a {
  background-color: #FFF;
  color: #333;
  font-size: 13px;
  display: block;
  padding: 3px 25px;
  border-radius: 30px;
  line-height: 23px;
  transition: all 0.3s ease-in-out 0s
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
  color: #fff;
  text-decoration: none;
  border-color: transparent;
  background-color: #168fb0;
}

.nav-pills > li > a:hover {
  background-color: #168fb0;
  color: white;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
  background-color: #fff;
}

.tab-wrapper {
  .nav-tabs {
    border: 0;
    > li {
      font-size: 13px;
      position: relative;
    }
  }
  > .tab-content {
    padding: 10px 20px 0;
  }

  .nav-pills {
    margin: 10px 0;
  }

  .tab-content {
    background-color: #e6e1da;
  }

  .tab-item {
    position: relative;

    > a {
      padding-left: 45px;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
      margin: 0 5px 0 0;
      border-radius: 50%;
      background: #e6c365;
      color: #fff;
    }
  }

  .add-flight {
    position: relative;
    margin: 4px 0 10px;
    display: inline-block;
    line-height: 2;
    margin-left: 11%;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    padding-left: 40px;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      max-width: 25px;
    }
  }
}

@media only screen and (max-width: 1024px){
  .tab-wrapper {
    .add-flight {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 767px){
  .tab-wrapper {
    .nav-tabs {
      > li {
        margin: 0 auto;
        max-width: 50%;
      }
    }
    > .tab-content {
      padding: 10px 10px 0;
    }

    .nav-pills {
      > li {
        margin-right: 7px;

        &:last-child {
          margin-right: 0;
        }

        > a {
          padding: 3px 15px;
        }
      }
    }
  } 
}

@media only screen and (max-width: 568px){
  .tab-wrapper {
    .nav-tabs {
      > li {
        font-size: 12px;
      }
    }
  }
}