.info-block {
  position: relative;
  overflow: hidden;
  display: table;
  width: 100%;

  .title {
    color: #166987;
    font-size: 20px;
    font-weight: normal;
  }

  p {
    margin: 0;
  }

  a {
    color: #000;
  }

  .col {
    display: table-cell;
    width: 50%;
    height: 100%;
    padding: 0 0 10px 20px;
    
    &:first-child {
      padding-right: 20px;
      padding-left: 0;
      border-right: 1px solid #ada599;
    }
  }

  .btn-close-navtab {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border: 0;
    padding: 0;
    background: transparent;
    width: 50px;
    transition: opacity 0.2s;

    img {
      display: block;
      max-width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

@media only screen and (max-width: 767px){
  .info-block {
    .col {
      width: 100%;
      float: none;
      display: block;
      padding-left: 0;
      padding-bottom: 20px;

      &:first-child {
        border-right: 0;
        border-bottom: 1px solid #ada599;
      }
    }
  }
}
