button {
  outline: none;
}

.search-info-form {
  max-width: 80%;
  margin: 0 auto;
}

.row-small {
  margin-left: -5px;
  margin-right: -5px;

  [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    display: block;
    list-style: none;
  }
}

.group-element {
  position: relative;
  
  .btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
    border: 0;
    width: 15px;
    height: 15px;
    background-image: url(../images/close-select.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .modal-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    display: none;
    background: #fff;

    &.active {
      display: block;
    }
  }
}

.multip-group {
  .title-flight {
    float: left;
    width: 11%;
    text-transform: uppercase;
    margin: 8px 0;
  }

  > .row {
    width: 85%;
    float: left;
  }

  .btn-remove {
    margin-top: 2px;
    border: 0;
    background: transparent;
    font-size: 18px;

    &:hover {
      color: red;
    }
  }
}

.flow-messages-component {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-top: 4px;
  transition: opacity 1s ease-out;

  .flow-message-warn {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 10px 10px 50px;
    letter-spacing: -1px;
    text-align: justify;
    border: 1px solid #e2c822;
    border-radius: 5px;
    background-color: #fff9d7;
    background-image: url(../images/icon-notice.png);
    background-size: 30px auto;
    background-position: 10px center;
    background-repeat: no-repeat;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 10px 13px;
      display: block;
      width: 0;
      z-index: 1;
      margin-left: -10px;
      left: 4%;
    }
    
    &:after {
      border-color: #fff9d7 transparent;
      top: -12px;
    }
    
    &:before {
      border-color: #e2c822 transparent;
      top: -14px;
    }
  }
}

@media only screen and (max-width: 1024px){
  .search-info-form {
    max-width: 100%;
  }

  .multip-group {
    .title-flight {
      float: none;
      width: auto;
    }

    > .row {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px){
  .multip-group { 
    position: relative;

    .btn-remove {
      position: absolute;
      top: 0;
      right: 0;
    }

    > .row {
      width: auto;
      float: none;
    }
  }

  .group-element {
    .btn-close {
      right: 10px;
    }
  }
}