// Fontface
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome.woff') format('woff'),
       url('../fonts/fontawesome.woff2') format('woff'),
       url('../fonts/fontawesome.ttf') format('truetype');
} 