.form {
  .error-text {
    position: absolute;
    top: 37px;
    right: -50px;
    background: #ee0101;
    color: #fff;
    max-width: 130px;
    min-width: 80px;
    font-size: 11px;
    padding: 10px;
    opacity: 0.87;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;

    &:before {
      content: "";
      position: absolute;
      top: -5px;
      left: 13px;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #ee0101;
    }
  }

  .note {
    display: block;
    font-size: 11px;
    color: #666;
  }

  .icon-calendar {
    background-image: url("../images/icon-calendar.svg");
    background-repeat: no-repeat;
    background-position: calc(~"100% - 7px") 45%;
    background-size: 16px;
    cursor: pointer;
  }

  .button-group {
    text-align: right;
    margin-bottom: 20px;
  }

  .btn-default {
    height: 40px;
    min-width: 160px;
    background-color: #dba510;
    background-position: center center;
    border: 1px solid #dba510;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
      transition: opacity 0.2s;
    }
  }

  .group-element {
    position: relative;
    margin-bottom: 5px;

    .label-text {
      overflow: hidden;
      position: absolute;
      left: 10px;
      top: 8px;
      max-width: 85%;
      margin: 0;
      color: #333;
      font-size: 13px;
      font-style: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
      transition: all .1s ease-out;
    }
  
    .form-control {
      height: 40px;
      padding: 15px 10px 5px;
      color: #333;
      font-size: 14px;
      box-shadow: none;
      border: 1px solid #ada598;
      border-radius: 4px;
  
      &.move-top-input,
      &:focus,
      &:active {
        & ~ .label-text {
          position: absolute;
          top: 4px;
          margin-bottom: 0;
          color: #333232;
          font-size: 10px;
          line-height: 11px;
          transition: all .1s ease-out;
        }
      }
    }

    .tell-input {
      position: relative;
    
      .flag-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 46px;
        background-color: aqua;
      }
    
      .form-control {
        padding-left: 52px;
      }
    }

    .textarea {
      height: 100px;
    }

    &.error {
      .form-control {
        border: 1px solid red;
      }
  
      .error-text {
        z-index: 10;
        opacity: 1;
      }
    }
  }

  .textarea-element {
    .error-text {
      top: 95px;
    }
  }
}

.row-has-icon {
  position: relative;

  .icon-roundtrip {
    background-image: url(../images/icon_arrows.png);
  }

  .icon-oneway {
    background-image: url(../images/icon_arrows_oneway.png);
  }

  .btn-horizontal {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 40px;
    width: 13px;
    padding: 0 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%);
  }
}

// checkbox
input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus {
  outline: none;
}

.custom-checkbox {
  position: relative;
  margin-bottom: 5px;

  input {
    display: inline-block;
    position: relative;
    top: 1px;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border: 1px solid #ADA598;
    border-radius: 2px;
    appearance: none;
    background-color: #fff;
    cursor: pointer;     
    outline: none;

    &:checked::before {
      content: "\f00c";
      position: absolute;
      left: 0;
      top: -3px;
      font-family: "fontawesome";
      font-size: 18px;
      color: #0C88AB;
    }

  }

  .label-text {
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333;

    .error-text {
      right: auto;
      left: 10px;
      top: 29px;
    }
  } 

  &.error {
    .error-text {
      z-index: 10;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 1024px){
  .form {
    .error-text {
      right: auto;
      left: 0;
    }
  }
}
@media only screen and (max-width: 767px){
  .row-has-icon {
    .btn-horizontal {
      display: none;
    }
  }
}