.info-block
  .col.left-content
    h3.title  Thông tin liên hệ 
    .contact-info
      p Thái Thị Thúy An 
      p Dan Tickets 
      p: a(href="mailto:an@dantickets.vn") an@dantickets.vn 
      p: a(href="tel:+84962.333.490") 0962.333.490
  .col.right-content
    h3.title  Tài khoản
    .contact-info
      p  Vietcombank Gia Định
        br
        | 0881000455851 
        br
        | TP. Hồ Chí Minh
  button(type="button").btn-close-navtab
    img(src="images/btn_up.png", alt="close tab")