form.form(method="" action="")
  .multip-group.clearfix
    p.title-flight Chuyến bay 1
    .row
      .col-sm-8.row-has-icon
        .row
          .col-sm-6
            .group-element.has-modal
              input.form-control(type="text" name="city-from-roundtrip-2" id="city-from-roundtrip-2")
              label.label-text(for="city-from-roundtrip-2") Nơi đi
              .modal-wrapper.box-from-roundtrip
                include roundtrip-modal
          span.btn-horizontal.icon-oneway
          .col-sm-6
            .group-element
              input.form-control(type="text" name="arrival-code-roundtrip-2" id="arrival-code-roundtrip-2")
              label.label-text(for="arrival-code-roundtrip-2") Nơi đến  
      .col-sm-4
        .group-element
          input.form-control.icon-calendar(type="text" name="roundtrip-date-depart-2" id="roundtrip-date-depart-2" readonly)
          label.label-text(for="roundtrip-date-depart-2") Ngày đi
          span.note (DD/MM/YYYY)
    button(type="button").btn-remove
      span.fa.fa-close
    .flow-messages-component
      .flow-message-warn Đồng tiền thanh toán hiển thị theo “Quốc gia/Vùng” đã chọn, Quý khách kiểm tra kỹ đồng tiền trước khi thanh toán.
  .multip-group.clearfix
    p.title-flight Chuyến bay 2
    .row
      .col-sm-8.row-has-icon
        .row
          .col-sm-6
            .group-element.has-modal
              input.form-control(type="text" name="city-from-roundtrip" id="city-from-roundtrip")
              label.label-text(for="city-from-roundtrip") Nơi đi
              .modal-wrapper.box-from-roundtrip
                include roundtrip-modal
          span.btn-horizontal.icon-oneway
          .col-sm-6
            .group-element
              input.form-control(type="text" name="arrival-code-roundtrip" id="arrival-code-roundtrip")
              label.label-text(for="arrival-code-roundtrip") Nơi đến  
      .col-sm-4
        .group-element
          input.form-control.icon-calendar(type="text" name="roundtrip-date-depart" id="roundtrip-date-depart" readonly)
          label.label-text(for="roundtrip-date-depart") Ngày đi
          span.note (DD/MM/YYYY)
    button(type="button").btn-remove
      span.fa.fa-close
  a(href="#").add-flight 
    img(src="images/btn-add-flight.png" alt="add flight")
    |Thêm chuyến bay
  .row
    .col-sm-4
      .group-element.has-modal
        input.form-control.move-top-input(type="text" name="roundtrip_passenger-2" id="roundtrip_passenger-2" readonly value="1 Hành khách")
        label.label-text(for="roundtrip_passenger-2")  Hành khách
        .modal-wrapper.box-roundtrip-passenger
          include roundtrip-passenger
    .col-sm-4
      .group-element
        input.form-control(type="email" name="roundtrip-promotion-code-2" id="roundtrip-promotion-code-2")
        label.label-text(for="roundtrip-promotion-code-2") Mã khuyến mại 
    .col-sm-4
      .group-element
        input.form-control(type="text" name="suitcase-2" id="suitcase-2")
        label.label-text(for="suitcase-2") Hành lý ký gửi 
  .row
    .col-sm-4
      .group-element
        input.form-control(type="text" name="customer-name-2" id="customer-name-2")
        label.label-text(for="customer-name-2")  Họ và tên hành khách
    .col-sm-4
      .group-element
        input.form-control(type="email" name="customer-email-2" id="customer-email-2")
        label.label-text(for="customer-email-2") Email
    .col-sm-4
      .group-element.tell-input
        .flag-container
        input.form-control(type="text" name="customer-phone-2" id="customer-phone-2")
        label.label-text(for="customer-phone-2") Phone
  .row
    .col-sm-12
      .group-element
        textarea.form-control.textarea(id="special-services-2" name="special-services-2" cols="40" rows="10")
        label.label-text(for="special-services-2") Dịch vụ đặc biệt
  .row
    .col-sm-12
      .custom-checkbox
        label.label-text(for="flight-search-flexible-checkbox-2")
          input(type="checkbox" id="flight-search-flexible-checkbox-2" name="flight-search-flexible-checkbox-2")
          | Ngày bay của tôi linh hoạt (tùy chọn)
      .custom-checkbox
        label.label-text(for="byt-agree-checkbox-2") 
          input(type="checkbox" id="byt-agree-checkbox-2" name="byt-agree-checkbox-2")
          | Tôi đã đọc và đồng ý với 
          a(href="#" target="_blank") Điều Khoản Sử Dụng Website
      .button-group
        button.btn.btn-default Đặt vé