form.form(method="" action="")
  .row
    .col-sm-8.row-has-icon
      .row
        .col-sm-6
          .group-element.has-modal
            input.form-control(type="text" name="city-from-roundtrip-1" id="city-from-roundtrip-1")
            label.label-text(for="city-from-roundtrip-1") Nơi đi
            .modal-wrapper.box-from-roundtrip.active
              include roundtrip-modal
        span.btn-horizontal.icon-oneway
        .col-sm-6
          .group-element
            input.form-control(type="text" name="arrival-code-roundtrip-1" id="arrival-code-roundtrip-1")
            label.label-text(for="arrival-code-roundtrip-1") Nơi đến
    .col-sm-4
      .group-element
        input.form-control.icon-calendar(type="text" name="roundtrip-date-depart-1" id="roundtrip-date-depart-1" readonly)
        label.label-text(for="roundtrip-date-depart-1") Ngày đi
        span.note (DD/MM/YYYY)
  .row
    .col-sm-4
      .group-element.has-modal
        input.form-control.move-top-input(type="text" name="roundtrip_passenger-1" id="roundtrip_passenger-1" readonly value="1 Hành khách")
        label.label-text(for="roundtrip_passenger-1")  Hành khách
        .modal-wrapper.box-roundtrip-passenger
          include roundtrip-passenger
    .col-sm-4
      .group-element
        input.form-control.input-error(type="email" name="roundtrip-promotion-code-1" id="roundtrip-promotion-code-1")
        label.label-text(for="roundtrip-promotion-code-1") Mã khuyến mại 
    .col-sm-4
      .group-element
        input.form-control(type="text" name="suitcase-1" id="suitcase-1")
        label.label-text(for="suitcase-1") Hành lý ký gửi 
  .row
    .col-sm-4
      .group-element
        input.form-control(type="text" name="customer-name-1" id="customer-name-1")
        label.label-text(for="customer-name-1")  Họ và tên hành khách
    .col-sm-4
      .group-element
        input.form-control(type="email" name="customer-email-1" id="customer-email-1")
        label.label-text(for="customer-email-1") Email
    .col-sm-4
      .group-element.tell-input
        .flag-container
        input.form-control(type="text" name="customer-phone-1" id="customer-phone-1")
        label.label-text(for="customer-phone-1") Phone
  .row
    .col-sm-12
      .group-element
        textarea.form-control.textarea(id="special-services-1" name="special-services-1" cols="40" rows="10")
        label.label-text(for="special-services-1") Dịch vụ đặc biệt
  .row
    .col-sm-12
      .custom-checkbox
        label.label-text(for="flight-search-flexible-checkbox-1") 
          input(type="checkbox" id="flight-search-flexible-checkbox-1" name="flight-search-flexible-checkbox-1")
          |Ngày bay của tôi linh hoạt (tùy chọn)
      .custom-checkbox
        label.label-text(for="byt-agree-checkbox-1") 
          input(type="checkbox" id="byt-agree-checkbox-1" name="byt-agree-checkbox-1")
          | Tôi đã đọc và đồng ý với 
          a(href="#" target="_blank") Điều Khoản Sử Dụng Website
      .button-group
        button.btn.btn-default Đặt vé