button.btn-close
.box-from-wapper.vertical-tabs
  ul.nav.nav-tabs
    li.active
      a(href='#vietnam', data-toggle='tab') VIỆT NAM
    li
      a(href='#dongduong', data-toggle='tab') ĐÔNG DƯƠNG
    li
      a(href='#dongnama', data-toggle='tab') ĐÔNG NAM Á
    li
      a(href='#dongbaca', data-toggle='tab') ĐÔNG BẮC Á
    li
      a(href='#uc', data-toggle='tab') ÚC
    li
      a(href='#chauau', data-toggle='tab') CHÂU ÂU
    li
      a(href='#bacmy', data-toggle='tab') BẮC MỸ
  .tab-content
    #vietnam.tab-pane.active
      ul.column-row
        li
          a(href='#', title='', data-country='vietnam')
            | Buôn Ma Thuột (BMV)
            span.locationCode BMV
        li
          a(href='#', title='', data-country='vietnam')
            | Chu Lai (VCL)
            span.locationCode VCL
        li
          a(href='#', title='', data-country='vietnam')
            | Cà Mau (CAH)
            span.locationCode CAH
        li
          a(href='#', title='', data-country='vietnam')
            | Côn Đảo (VCS)
            span.locationCode VCS
        li
          a(href='#', title='', data-country='vietnam')
            | Cần Thơ (VCA)
            span.locationCode VCA
        li
          a(href='#', title='', data-country='vietnam')
            | Huế (HUI)
            span.locationCode HUI
        li
          a(href='#', title='', data-country='vietnam')
            | Hà Nội (HAN)
            span.locationCode HAN
        li
          a(href='#', title='', data-country='vietnam')
            | Hải Phòng (HPH)
            span.locationCode HPH
        li
          a(href='#', title='', data-country='vietnam')
            | Nha Trang (CXR)
            span.locationCode CXR
        li
          a(href='#', title='', data-country='vietnam')
            | Phú Quốc (PQC)
            span.locationCode PQC
        li
          a(href='#', title='', data-country='vietnam')
            | Pleiku (PXU)
            span.locationCode PXU
        li
          a(href='#', title='', data-country='vietnam')
            | Quy Nhơn (UIH)
            span.locationCode UIH
        li
          a(href='#', title='', data-country='vietnam')
            | Rạch Giá (VKG)
            span.locationCode VKG
        li
          a(href='#', title='', data-country='vietnam')
            | Thanh Hóa (THD)
            span.locationCode THD
        li
          a(href='#', title='', data-country='vietnam')
            | Tp. Hồ Chí Minh (SGN)
            span.locationCode SGN
        li
          a(href='#', title='', data-country='vietnam')
            | Tuy Hòa (TBB)
            span.locationCode TBB
        li
          a(href='#', title='', data-country='vietnam')
            | Vinh (VII)
            span.locationCode VII
        li
          a(href='#', title='', data-country='vietnam')
            | Điện Biên (DIN)
            span.locationCode DIN
        li
          a(href='#', title='', data-country='vietnam')
            | Đà Lạt (DLI)
            span.locationCode DLI
        li
          a(href='#', title='', data-country='vietnam')
            | Đà Nẵng (DAD)
            span.locationCode DAD
        li
          a(href='#', title='', data-country='vietnam')
            | Đồng Hới (VDH)
            span.locationCode VDH
    #dongduong.tab-pane
      ul.column-row
        li
          a(href='#', title='', data-country='dongduong')
            | Luang Prabang (LPQ), Lào
            span.locationCode LPQ
        li
          a(href='#', title='', data-country='dongduong')
            | Phnom Penh (PNH), Campuchia
            span.locationCode PNH
        li
          a(href='#', title='', data-country='dongduong')
            | Siem Reap (REP), Campuchia
            span.locationCode REP
        li
          a(href='#', title='', data-country='dongduong')
            | Sihanoukville (KOS), Campuchia
            span.locationCode KOS
        li
          a(href='#', title='', data-country='dongduong')
            | Vientiane (VTE), Lào
            span.locationCode VTE
    #dongnama.tab-pane
      ul.column-row
        li
          a(href='#', title='', data-country='dongnama')
            | Bangkok (BKK), Thái Lan
            span.locationCode BKK
        li
          a(href='#', title='', data-country='dongnama')
            | Jakarta (CGK), Indonesia
            span.locationCode CGK
        li
          a(href='#', title='', data-country='dongnama')
            | Kuala Lumpur (KUL), Malaysia
            span.locationCode KUL
        li
          a(href='#', title='', data-country='dongnama')
            | Manila (MNL), Phillipines
            span.locationCode MNL
        li
          a(href='#', title='', data-country='dongnama')
            | Singapore (SIN), Singapore
            span.locationCode SIN
        li
          a(href='#', title='', data-country='dongnama')
            | Yangon (RGN), Myanmar
            span.locationCode RGN
    #dongbaca.tab-pane
      ul.column-row
        li
          a(href='#', title='', data-country='dongbaca')
            | Busan (PUS)
            span.locationCode PUS
        li
          a(href='#', title='', data-country='dongbaca')
            | Bắc Kinh (PEK)
            span.locationCode PEK
        li
          a(href='#', title='', data-country='dongbaca')
            | Côn Minh (KMG)
            span.locationCode KMG
        li
          a(href='#', title='', data-country='dongbaca')
            | Fukuoka (FUK)
            span.locationCode FUK
        li
          a(href='#', title='', data-country='dongbaca')
            | Hohhot (HET)
            span.locationCode HET
        li
          a(href='#', title='', data-country='dongbaca')
            | Hong Kong (HKG)
            span.locationCode HKG
        li
          a(href='#', title='', data-country='dongbaca')
            | Hàng Châu (HGH)
            span.locationCode HGH
        li
          a(href='#', title='', data-country='dongbaca')
            | Kaohsiung (KHH)
            span.locationCode KHH
        li
          a(href='#', title='', data-country='dongbaca')
            | Nagoya (NGO)
            span.locationCode NGO
        li
          a(href='#', title='', data-country='dongbaca')
            | Nam Kinh (NKG)
            span.locationCode NKG
        li
          a(href='#', title='', data-country='dongbaca')
            | Nam Kinh (NNG)
            span.locationCode NNG
        li
          a(href='#', title='', data-country='dongbaca')
            | Ninh Ba (NGB)
            span.locationCode NGB
        li
          a(href='#', title='', data-country='dongbaca')
            | Osaka (KIX)
            span.locationCode KIX
        li
          a(href='#', title='', data-country='dongbaca')
            | Quảng Châu (CAN)
            span.locationCode CAN
        li
          a(href='#', title='', data-country='dongbaca')
            | Seoul (ICN)
            span.locationCode ICN
        li
          a(href='#', title='', data-country='dongbaca')
            | Taipei (TPE)
            span.locationCode TPE
        li
          a(href='#', title='', data-country='dongbaca')
            | Thiên Tân (TSN)
            span.locationCode TSN
        li
          a(href='#', title='', data-country='dongbaca')
            | Thành Đô (CTU)
            span.locationCode CTU
        li
          a(href='#', title='', data-country='dongbaca')
            | Thường Châu (CZX)
            span.locationCode CZX
        li
          a(href='#', title='', data-country='dongbaca')
            | Thượng Hải (PVG)
            span.locationCode PVG
        li
          a(href='#', title='', data-country='dongbaca')
            | Tokyo Haneda (HND)
            span.locationCode HND
        li
          a(href='#', title='', data-country='dongbaca')
            | Tokyo Narita (NRT)
            span.locationCode NRT
        li
          a(href='#', title='', data-country='dongbaca')
            | Trịnh Châu (CGO)
            span.locationCode CGO
        li
          a(href='#', title='', data-country='dongbaca')
            | Tây An (XIY)
            span.locationCode XIY
    #uc.tab-pane
      ul.column-row
        li
          a(href='#', title='', data-country='uc')
            | Melbourne (MEL)
            span.locationCode MEL
        li
          a(href='#', title='', data-country='uc')
            | Sydney (SYD)
            span.locationCode SYD
    #chauau.tab-pane
      ul.column-row
        li
          a(href='#', title='', data-country='chauau')
            | Aix en Provence TGV (QXB), Pháp
            span.locationCode QXB
        li
          a(href='#', title='', data-country='chauau')
            | Amsterdam (AMS), Hà Lan
            span.locationCode AMS
        li
          a(href='#', title='', data-country='chauau')
            | Angers St-Laud (QXG), Pháp
            span.locationCode QXG
        li
          a(href='#', title='', data-country='chauau')
            | Avignon TGV (XZN), Pháp
            span.locationCode XZN
        li
          a(href='#', title='', data-country='chauau')
            | Barcelona (BCN), Tây Ban Nha
            span.locationCode BCN
        li
          a(href='#', title='', data-country='chauau')
            | Bordeaux St Jean (ZFQ), Pháp
            span.locationCode ZFQ
        li
          a(href='#', title='', data-country='chauau')
            | Champagne TGV (XIZ), Pháp
            span.locationCode XIZ
        li
          a(href='#', title='', data-country='chauau')
            | Copenhagen (CPH), Đan Mạch
            span.locationCode CPH
        li
          a(href='#', title='', data-country='chauau')
            | Frankfurt (FRA), Đức
            span.locationCode FRA
        li
          a(href='#', title='', data-country='chauau')
            | Geneva (GVA), Thụy Sỹ
            span.locationCode GVA
        li
          a(href='#', title='', data-country='chauau')
            | Le Mans (ZLN), Pháp
            span.locationCode ZLN
        li
          a(href='#', title='', data-country='chauau')
            | Lille - Europe (XDB), Pháp
            span.locationCode XDB
        li
          a(href='#', title='', data-country='chauau')
            | London (LHR), Anh
            span.locationCode LHR
        li
          a(href='#', title='', data-country='chauau')
            | Lorraine TGV (ETZ), Pháp
            span.locationCode ETZ
        li
          a(href='#', title='', data-country='chauau')
            | Lyon (LYS), Pháp
            span.locationCode LYS
        li
          a(href='#', title='', data-country='chauau')
            | Lyon Part - Dieu (XYD), Pháp
            span.locationCode XYD
        li
          a(href='#', title='', data-country='chauau')
            | Madrid (MAD), Tây Ban Nha
            span.locationCode MAD
        li
          a(href='#', title='', data-country='chauau')
            | Marseille (MRS), Pháp
            span.locationCode MRS
        li
          a(href='#', title='', data-country='chauau')
            | Marseille St Charles (XRF), Pháp
            span.locationCode XRF
        li
          a(href='#', title='', data-country='chauau')
            | Montpellier (XPJ), Pháp
            span.locationCode XPJ
        li
          a(href='#', title='', data-country='chauau')
            | Moscow (DME), Nga
            span.locationCode DME
        li
          a(href='#', title='', data-country='chauau')
            | Nantes (QJZ), Pháp
            span.locationCode QJZ
        li
          a(href='#', title='', data-country='chauau')
            | Nice (NCE), Pháp
            span.locationCode NCE
        li
          a(href='#', title='', data-country='chauau')
            | Nîmes (ZYN), Pháp
            span.locationCode ZYN
        li
          a(href='#', title='', data-country='chauau')
            | Paris (CDG), Pháp
            span.locationCode CDG
        li
          a(href='#', title='', data-country='chauau')
            | Poitiers (XOP), Pháp
            span.locationCode XOP
        li
          a(href='#', title='', data-country='chauau')
            | Prague (PRG), Cộng hòa Séc
            span.locationCode PRG
        li
          a(href='#', title='', data-country='chauau')
            | Rennes (ZFJ),Pháp
            span.locationCode ZFJ
        li
          a(href='#', title='', data-country='chauau')
            | Rome (ROM), Italy
            span.locationCode ROM
        li
          a(href='#', title='', data-country='chauau')
            | St-Pierre des Corps (XSH), Pháp
            span.locationCode XSH
        li
          a(href='#', title='', data-country='chauau')
            | Strasbourg (XWG), Pháp
            span.locationCode XWG
        li
          a(href='#', title='', data-country='chauau')
            | Toulon (XZV), Pháp
            span.locationCode XZV
        li
          a(href='#', title='', data-country='chauau')
            | Toulouse (TLS), Pháp
            span.locationCode TLS
        li
          a(href='#', title='', data-country='chauau')
            | Tàu nội địa Đức (QYG)
            span.locationCode QYG
        li
          a(href='#', title='', data-country='chauau')
            | Valence RR (XHK), Pháp
            span.locationCode XHK
        li
          a(href='#', title='', data-country='chauau')
            | Vienna (VIE), Áo
            span.locationCode VIE
        li
          a(href='#', title='', data-country='chauau')
            | Zurich (ZRH), Thụy Sỹ
            span.locationCode ZRH
    #bacmy.tab-pane
      ul.column-row
        li
          a(href='#', title='', data-country='bacmy')
            | Atlanta Hartsfield (ATL), Hoa Kỳ
            span.locationCode ATL
        li
          a(href='#', title='', data-country='bacmy')
            | Austin (AUS), Hoa Kỳ
            span.locationCode AUS
        li
          a(href='#', title='', data-country='bacmy')
            | Boston - Logan (BOS), Hoa Kỳ
            span.locationCode BOS
        li
          a(href='#', title='', data-country='bacmy')
            | Chicago IL (CHI), Hoa Kỳ
            span.locationCode CHI
        li
          a(href='#', title='', data-country='bacmy')
            | Dallas Fort Worth (DFW), Hoa Kỳ
            span.locationCode DFW
        li
          a(href='#', title='', data-country='bacmy')
            | Denver (DEN), Hoa Kỳ
            span.locationCode DEN
        li
          a(href='#', title='', data-country='bacmy')
            | Honolulu (HNL), Hoa Kỳ
            span.locationCode HNL
        li
          a(href='#', title='', data-country='bacmy')
            | Los Angeles (LAX), Hoa Kỳ
            span.locationCode LAX
        li
          a(href='#', title='', data-country='bacmy')
            | Miami (MIA), Hoa Kỳ
            span.locationCode MIA
        li
          a(href='#', title='', data-country='bacmy')
            | Minneapolis/St.Paul (MSP), Hoa Kỳ
            span.locationCode MSP
        li
          a(href='#', title='', data-country='bacmy')
            | New York (JFK), Hoa Kỳ
            span.locationCode JFK
        li
          a(href='#', title='', data-country='bacmy')
            | Philadelphia (PHL), Hoa Kỳ
            span.locationCode PHL
        li
          a(href='#', title='', data-country='bacmy')
            | Portland (PDX), Hoa Kỳ
            span.locationCode PDX
        li
          a(href='#', title='', data-country='bacmy')
            | San Francisco (SFO), Hoa Kỳ
            span.locationCode SFO
        li
          a(href='#', title='', data-country='bacmy')
            | Seattle - Tacoma (SEA), Hoa Kỳ
            span.locationCode SEA
        li
          a(href='#', title='', data-country='bacmy')
            | St Louis - Lambert (STL), Hoa Kỳ
            span.locationCode STL
        li
          a(href='#', title='', data-country='bacmy')
            | Vancouver (YVR), Canada
            span.locationCode YVR
        li
          a(href='#', title='', data-country='bacmy')
            | Washington (IAD), Hoa Kỳ
            span.locationCode IAD
