.box-from-wapper
  ul.passenger-selector
    li
      .psg-type
        p  Người lớn 
        span  Người lớn (≥12 tuổi) 
      .psg-selector
        button.psg-btn.psg-decrease(disabled) -
        span.current-psg 1
        button.psg-btn.psg-increase +
    li
      .psg-type
        p  Trẻ em 
        span
          a.vna-ajax-modal(href='#' title="Trẻ em (2<12 tuổi)") Trẻ em (2<12 tuổi) 
      .psg-selector
        button.psg-btn.psg-decrease -
        span#current_passenger_child.current-psg 0
        button.psg-btn.psg-increase +
    li
      .psg-type
        p  Trẻ em 
        span
          a.vna-ajax-modal(href='#' title=" Trẻ em (<2 tuổi)") Trẻ em (<2 tuổi) 
      .psg-selector
        button.psg-btn.psg-decrease -
        span#current_passenger_child.current-psg 0
        button.psg-btn.psg-increase +