form.form(method="" action="")
  .row
    .col-md-8.col-sm-12.row-has-icon
      .row
        .col-sm-6
          .group-element.error.has-modal
            input.form-control.move-top-input(type="text" name="city-from-roundtrip" id="city-from-roundtrip")
            label.label-text(for="city-from-roundtrip") Nơi đi
            p.error-text error text
            .modal-wrapper.box-from-roundtrip
              include roundtrip-modal
        span.btn-horizontal.icon-roundtrip
        .col-sm-6
          .group-element.error
            input.form-control(type="text" name="arrival-code-roundtrip" id="arrival-code-roundtrip")
            label.label-text(for="arrival-code-roundtrip") Nơi đến
            p.error-text error text
    .col-md-4.col-sm-12
      .row.row-small
        .col-sm-6
          .group-element.error
            input.form-control.icon-calendar(type="text" name="roundtrip-date-depart" id="roundtrip-date-depart" readonly)
            label.label-text(for="roundtrip-date-depart") Ngày đi
            span.note (DD/MM/YYYY)
            p.error-text error text
        .col-sm-6
          .group-element.error
            input.form-control.icon-calendar(type="text" name="roundtrip-date-return" id="roundtrip-date-return" readonly)
            label.label-text(for="roundtrip-date-return") Ngày về
            p.error-text error text
            span.note (DD/MM/YYYY)
  .row
    .col-sm-4
      .group-element.error.has-modal
        input.form-control.move-top-input(type="text" name="roundtrip_passenger" id="roundtrip_passenger" readonly value="1 Hành khách")
        label.label-text(for="roundtrip_passenger")  Hành khách
        p.error-text error text
        .modal-wrapper.box-roundtrip-passenger
          include roundtrip-passenger
    .col-sm-4
      .group-element.error
        input.form-control(type="email" name="roundtrip-promotion-code" id="roundtrip-promotion-code")
        label.label-text(for="roundtrip-promotion-code") Mã khuyến mại 
        p.error-text error text
    .col-sm-4
      .group-element.error
        input.form-control(type="text" name="suitcase" id="suitcase")
        label.label-text(for="suitcase") Hành lý ký gửi 
        p.error-text error text
  .row
    .col-sm-4
      .group-element.error
        input.form-control(type="text" name="customer-name" id="customer-name")
        label.label-text(for="customer-name")  Họ và tên hành khách
        p.error-text error text
    .col-sm-4
      .group-element.error
        input.form-control(type="email" name="customer-email" id="customer-email")
        label.label-text(for="customer-email") Email
        p.error-text error text
    .col-sm-4
      .group-element.error.tell-input
        input.form-control(type="text" name="customer-phone" id="customer-phone")
        label.label-text(for="customer-phone") Phone
        p.error-text error text
  .row
    .col-sm-12
      .textarea-element.group-element.error
        textarea.form-control.textarea(id="special-services" name="special-services" cols="40" rows="10")
        label.label-text(for="special-services") Dịch vụ đặc biệt
        p.error-text error text
  .row
    .col-sm-12
      .custom-checkbox
        label.label-text(for="flight-search-flexible-checkbox") 
          input(type="checkbox" id="flight-search-flexible-checkbox" name="flight-search-flexible-checkbox")
          |Ngày bay của tôi linh hoạt (tùy chọn)
          p.error-text error text
      .custom-checkbox
        label.label-text(for="byt-agree-checkbox")
          input(type="checkbox" id="byt-agree-checkbox" name="byt-agree-checkbox")
          | Tôi đã đọc và đồng ý với 
          a(href="#" target="_blank") Điều Khoản Sử Dụng Website
          p.error-text error text
      .button-group
        button.btn.btn-default Đặt vé