// build:js js/script.js
script(src="js/l10n.js")
script(src="js/libs.js")
script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
script(src="js/script.js")

// endbuild
// build:development-only
script(src="//localhost:35729/livereload.js")
// endbuild
