.tab-inner
  ul.nav.nav-pills
    li.active
      a(href='#roundtrip', data-toggle='tab') Khứ hồi 
    li
      a(href='#oneway', data-toggle='tab') Một chiều
    li
      a(href='#multipledestinations', data-toggle='tab')  Nhiều chặng
  .tab-content
    #roundtrip.tab-pane.active
      include roundtrip-form
    #oneway.tab-pane
      include oneway-form
    #multipledestinations.tab-pane
      include multipledestinations-form
