.search-info-form
  .tab-wrapper
    ul.nav.nav-tabs
      li.active.tab-item
        a(href='#search-news', data-toggle='tab') 
          span.fa.fa-plane.icon
          | KIỂM TRA GIÁ MỚI NHẤT
      li.tab-item
        a(href='#user-info', data-toggle='tab')
          span.fa.fa-list-alt.icon
          | THÔNG TIN LIÊN HỆ VÀ TÀI KHOẢN 
    .tab-content
      #search-news.tab-pane.active
        include search-form
      #user-info.tab-pane
        include info-tab