mixin input(obj)
  input(type=obj.type||"text", id=obj.id||obj.name, placeholder= obj.placeholder, name=obj.name, value= obj.value)&attributes(obj.attr||attributes)

mixin textarea(obj)
  textarea(id=obj.id, name=obj.name, placeholder= obj.placeholder, rows=obj.rows)&attributes(obj.attr||attributes)&attributes(attributes)