include ../mixins/all

block vars
  -title = 'Site'
  -bodyClass = ''

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
    // build:css css/style.css
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(rel="stylesheet", href="style/libs.css")
    link(rel="stylesheet", href="style/style.css")
    link(rel="stylesheet", href="style/print.css")
    // endbuild
    script(src="js/modernizr.js")
  body(class=bodyClass)
    block container
    block layer
    include ../blocks/script
    //[if lte IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
