include ../mixins/all

block vars
  -title = 'Template'

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="noindex, nofollow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, minimal-ui")
    link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
    link(rel="stylesheet", href="style/libs.css")
    link(rel="stylesheet", href="style/style.css")
    link(rel="stylesheet" media="screen" type="text/css" href="http://www.eyecon.ro/colorpicker/css/colorpicker.css")
    style.
      .template {margin: 20px; background: #eee;}
      .template h1 {text-align: center; text-transform: uppercase;}
      .template h2 {margin: 20px 0; border-bottom: 1px solid #ccc; font-weight: normal;}
    
    script(src="js/modernizr.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
  body.template
    block container
    include ../blocks/script
    //[if lte IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
